.ticket__section {
	display: flex;
	gap: 20px;
	justify-content: space-between;
}

.tickets {
	display: flex;
	flex-direction: column;
	gap: 20px;
	position: relative;
}

.processing {
	position: absolute;
	right: -20px;
	transform: translate(100%, 75%);
}
